.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/DBMS_Fall21/v16/.suo
Frontend/.vs/VSWorkspaceState.json
Backend/node_modules/oracledb/build/Release/oracledb.node
Frontend/.vs/slnx.sqlite
Frontend/.vs/Frontend/v16/.suo
Backend/node_modules/oracledb/build/Release/oracledb.node
