:host {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: absolute;
    top: 5em;
    bottom: 10em;
    left: 10em;
    right: 10em;
    width: 80%;
    height: 80%;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.27);
    backdrop-filter: 'backdropBackground';
}

#chart {
    width: 600px;
    height: 450px;
    /* max-width: 650px; */
    margin: 35px auto;
}

apx-chart {
    width: 100%
}

.mat-dialog-actions{
    margin-bottom : 10px;
}