<div class="container">
  <div class="heading">
      <h1 mat-dialog-title>{{symbol}} Charts</h1>
  </div>
  <div class="indSelect">
    <mat-form-field appearance="fill">
        <mat-label>Select indicator</mat-label>
        <mat-select [(ngModel)]="selectedIndicator" name="indicator">
          <mat-option *ngFor="let ind of indicators" [value]="ind.value">
            {{ind.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div>
</div>

<mat-dialog-content>
  <div id="chart">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [yaxis]="chartOptions.yaxis"
      [title]="chartOptions.title"
    ></apx-chart>
  </div>

  <div *ngIf="selectedIndicator=='rsi'" id="lineChart">
    <apx-chart
      [series]="rsiChartOptions.series"
      [chart]="rsiChartOptions.chart"
      [dataLabels]="rsiChartOptions.dataLabels"
      [markers]="rsiChartOptions.markers"
      [title]="rsiChartOptions.title"
      [fill]="rsiChartOptions.fill"
      [yaxis]="rsiChartOptions.yaxis"
      [xaxis]="rsiChartOptions.xaxis"
      [tooltip]="rsiChartOptions.tooltip"
      [annotations]="rsiChartOptions.annotations"
      [autoUpdateSeries]="true"
    ></apx-chart>
  </div>

  <div *ngIf="selectedIndicator=='macd'" id="macdChart">
      <apx-chart
        [series]="macdChartOptions.series"
        [chart]="macdChartOptions.chart"
        [xaxis]="macdChartOptions.xaxis"
        [stroke]="macdChartOptions.stroke"
        [tooltip]="macdChartOptions.tooltip"
        [dataLabels]="macdChartOptions.dataLabels"
        [legend]="macdChartOptions.legend"
        [markers]="macdChartOptions.markers"
        [grid]="macdChartOptions.grid"
        [yaxis]="macdChartOptions.yaxis"
        [title]="macdChartOptions.title"
      ></apx-chart>
  </div>
    
  <div *ngIf="selectedIndicator=='ad'" id="lineChart">
    <apx-chart
      [series]="adChartOptions.series"
      [chart]="adChartOptions.chart"
      [dataLabels]="adChartOptions.dataLabels"
      [markers]="adChartOptions.markers"
      [title]="adChartOptions.title"
      [fill]="adChartOptions.fill"
      [yaxis]="adChartOptions.yaxis"
      [xaxis]="adChartOptions.xaxis"
      [tooltip]="adChartOptions.tooltip"
      [annotations]="adChartOptions.annotations"
      [autoUpdateSeries]="true"
    ></apx-chart>
  </div>

  <div *ngIf="selectedIndicator=='obv'" id="lineChart">
    <apx-chart
      [series]="obvChartOptions.series"
      [chart]="obvChartOptions.chart"
      [dataLabels]="obvChartOptions.dataLabels"
      [markers]="obvChartOptions.markers"
      [title]="obvChartOptions.title"
      [fill]="obvChartOptions.fill"
      [yaxis]="obvChartOptions.yaxis"
      [xaxis]="obvChartOptions.xaxis"
      [tooltip]="obvChartOptions.tooltip"
      [annotations]="obvChartOptions.annotations"
      [autoUpdateSeries]="true"
    ></apx-chart>
  </div>

  <div *ngIf="selectedIndicator=='pg'" id="lineChart">
    <apx-chart
      [series]="pcChartOptions.series"
      [chart]="pcChartOptions.chart"
      [dataLabels]="pcChartOptions.dataLabels"
      [markers]="pcChartOptions.markers"
      [title]="pcChartOptions.title"
      [fill]="pcChartOptions.fill"
      [yaxis]="pcChartOptions.yaxis"
      [xaxis]="pcChartOptions.xaxis"
      [tooltip]="pcChartOptions.tooltip"
      [annotations]="pcChartOptions.annotations"
      [autoUpdateSeries]="true"
    ></apx-chart>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
</mat-dialog-actions>