<div class="alert">
	<h2>MAKE A TRADE!!</h2>
	
</div>



<div id="content">
  <div id="left">
     <div ><font color="#191970">SYMBOL</font></div>
     <br>
     <div id="large">{{data.symbol}}</div>
  </div>

  <div id="right">
     <div ><font color="#191970">CURRENT PRICE</font></div>
     <br>
     <div id="large">{{data.cmp}}</div>
  </div>
</div>


<div id="content">
  <div id="left">
     <div ><font color="#191970">OPEN</font></div>
     <br>
     <div id="large">{{data.open}}</div>
  </div>

  <div id="right">
     <div ><font color="#191970">CLOSE</font></div>
     <br>
     <div id="large">{{data.close}}</div>
  </div>
</div>


<div id="content" class="xyz">
  <div id="left">
     <div ><font color="#191970">HIGH</font></div>
     <br>
     <div id="large">{{data.high}}</div>
  </div>

  <div id="right">
     <div ><font color="#191970">LOW</font></div>
     <br>
     <div id="large">{{data.low}}</div>
  </div>
</div>
    <br>


  <ul>
  <li>
    <input type="radio" id="f-option" name="selector">
    <label for="f-option">Buy</label>
    

    <mat-radio-group [(ngModel)]="tradeType" aria-label="Trade type">
      <mat-radio-button value="buy">BUY</mat-radio-button>
      <mat-radio-button value="sell">SELL</mat-radio-button>
    </mat-radio-group>

    <br>
    <br>
    
   

<div class="two-col">
   <div class="col1">
      
         <label for="Qty">Quantity</label>
         <input id="name"  [(ngModel)]="qty" type="text">
      
   </div>

   <div class="col2">
      <p>Total Amount: {{data.cmp * qty}} </p>
   </div>
</div>
<br>
<br>
<button type="submit" (click)="makeTrade()" class="btn btn-danger btn-lg btn-block">Execute</button>
