<br>
<span class="sym">{{symbol}}</span>
<br>
<span class="s1">ISIN: {{sisin}}</span>
<span class="s2">Current Market Price {{cmp}}</span>

<div id="content">
    <div id="left">
       <div >Open</div>
       <br>
       <div id="large">{{open}}</div>
    </div>
  
    <div id="right">
       <div >Close</div>
       <br>
       <div id="large">{{close}}</div>
    </div>
  </div>

  <div id="content">
    <div id="left">
       <div >Low</div>
       <br>
       <div id="large">{{low}}</div>
    </div>
  
    <div id="right">
       <div >High</div>
       <br>
       <div id="large">{{high}}</div>
    </div>
  </div>


<div id="chart">

    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [yaxis]="chartOptions.yaxis"
      [title]="chartOptions.title"
    ></apx-chart>
</div>