.head .ag-header-cell-label{
    color:#1597E5;
    text-align: center;
    display: inline-grid;
}
.s1{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-left: 40px;
}

.stocks{
    margin-left: 100px
}