/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn{
    background-color: whitesmoke;
    border: 1px solid #1597E5;
    border-radius: 6px;
    margin-left: 50px;
}

.btnchart{
    background-color: whitesmoke;
    border: 1px solid green;
    border-radius: 6px;
    margin-left: 50px;
}